README.md
[{"id":"d36ae5cc.624c58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf4bd92c.9cb708","type":"mqtt in","z":"d36ae5cc.624c58","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"61bcff86.03df","x":170,"y":280,"wires":[["ba735151.254e8","47d80caf.5d4594","809bf534.fd1838"]]},{"id":"ba735151.254e8","type":"debug","z":"d36ae5cc.624c58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":220,"wires":[]},{"id":"5aefa8d9.1a9608","type":"mqtt in","z":"d36ae5cc.624c58","name":"","topic":"esp32_2/temperature","qos":"2","datatype":"auto","broker":"61bcff86.03df","x":180,"y":560,"wires":[["f1ae3edd.69d23","3759103f.82ee8","3c92e0cb.ff503"]]},{"id":"f1ae3edd.69d23","type":"debug","z":"d36ae5cc.624c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":560,"wires":[]},{"id":"3759103f.82ee8","type":"function","z":"d36ae5cc.624c58","name":"","func":"var buffer = parseInt(msg.payload)\nif(buffer>-70){\n    msg.payload = \"True\"\n}\nif(buffer<-70){\n    msg.payload = \"False\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":740,"wires":[["1334ce3e.1d42b2"]]},{"id":"3c92e0cb.ff503","type":"smooth","z":"d36ae5cc.624c58","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":560,"y":680,"wires":[["a33e09d.94ddef8"]]},{"id":"1334ce3e.1d42b2","type":"ui_led","z":"d36ae5cc.624c58","group":"f0337048.b9fc6","order":55,"width":0,"height":0,"label":"Presence Detection ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"False","valueType":"str"},{"color":"green","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":830,"y":740,"wires":[]},{"id":"a33e09d.94ddef8","type":"ui_chart","z":"d36ae5cc.624c58","name":"Mean","group":"f0337048.b9fc6","order":5,"width":6,"height":7,"label":"ESP 2 RSSI MEAN","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":680,"wires":[[]]},{"id":"809bf534.fd1838","type":"function","z":"d36ae5cc.624c58","name":"","func":"var buffer = parseInt(msg.payload)\nif(buffer>-70){\n    msg.payload = \"True\"\n}\nif(buffer<-70){\n    msg.payload = \"False\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["a5c8ca.d4413738"]]},{"id":"47d80caf.5d4594","type":"smooth","z":"d36ae5cc.624c58","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":540,"y":340,"wires":[["fd3b2fbc.15ab1"]]},{"id":"a5c8ca.d4413738","type":"ui_led","z":"d36ae5cc.624c58","group":"f0337048.b9fc6","order":56,"width":0,"height":0,"label":"Presence Detection ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"False","valueType":"str"},{"color":"green","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":830,"y":400,"wires":[]},{"id":"fd3b2fbc.15ab1","type":"ui_chart","z":"d36ae5cc.624c58","name":"Mean","group":"f0337048.b9fc6","order":3,"width":6,"height":7,"label":"ESP 1 RSSI Mean","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":340,"wires":[[]]},{"id":"61bcff86.03df","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0337048.b9fc6","type":"ui_group","z":"","name":"Main","tab":"3dce7d59.45a652","order":1,"disp":true,"width":30,"collapse":false},{"id":"3dce7d59.45a652","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"}]
